beautifulsoup4==4.12.3
nltk==3.8.1
numpy==1.25.0  # A version compatible with both pandas and scipy
ollama==0.3.0
openai==1.37.1
pandas==2.2.2
PyYAML==6.0.1
Requests==2.32.3
scipy==1.11.4
sentence_transformers==3.0.1
spacy==3.7.5
tqdm==4.66.4  # Choose the latest version you need
transformers==4.40.2  # Choose the latest version you need
Wikipedia_API==0.6.0
